.cta {
	/* min-height: 1163px; */
}

.cta__wrapper {
	padding: 4.7vw 5.9vw;
	border-radius: 80px;
	background-color: var(--blue2);

}

.cta__content {
	margin-bottom: 220px;
	margin-bottom: clamp(60px, 0.036rem + 11.43vw, 220px);
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.cta__text-section {
	max-width: 980px;

	display: flex;
	flex-direction: column;
	gap: 75px;
}

.cta__heading {
	max-width: 10ch;
	font-family: var(--font-family);
	font-weight: 500;
	/* font-size: 175px; */
	font-size: clamp(5rem, 3.337rem + 6.33vw, 10.938rem);
	line-height: 1em;
	letter-spacing: -0.02em;
	color: var(--white);
}

.cta__description {
	max-width: 23ch;
	font-family: var(--font-family);
	font-weight: 300;
	font-size: 43px;
	line-height: 1.2em;
	letter-spacing: -0.02em;
	color: var(--white);
}

.cta__button {
	max-width: 320px;
	max-height: 344px;
	width: 100%;
	aspect-ratio: 320 / 344;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	font-family: var(--font-family);
	font-weight: 700;
	font-size: 27px;
	line-height: 1.24em;
	color: var(--white);

	background-color: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 77px;

	transition: all 0.3s ease;
}

.cta__button:hover {
	background-color: rgba(255, 255, 255, 0.1);
	border-color: rgba(255, 255, 255, 0.2);
}

/* .cta__button::before {
	content: "Contact Us";
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 27px;
	line-height: 1.24em;
	color: var(--white);
} */

.cta__footer {
	width: 100%;
	height: 134px;
	background-color: rgba(255, 255, 255, 0.03);
	border-radius: 80px;
}

.cta__footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	padding: 47px 91px;
	height: 100%;
}

.cta__logo-section {
	display: flex;
	align-items: start;
	gap: 0;
}

.cta__logo {
	display: flex;
	align-items: center;
	flex-shrink: 0;
}

.cta__registered {
	font-family: var(--font-family);
	font-size: 13px;
	color: var(--white);
}

.cta__nav {
}

.cta__nav-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
}

.cta__nav-item {
	text-wrap: nowrap;
}

.cta__nav-link {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2em;
	letter-spacing: -0.02em;
	color: var(--white);
	text-decoration: none;
	transition: color 0.3s ease;
}

.cta__nav-link:hover {
	color: rgba(255, 255, 255, 0.8);
}

/* Responsive design */
@media (max-width: 1240px) {
	.cta__content {
		flex-direction: column;
		align-items: center;
		gap: 40px;
	}
	.cta__text-section {gap: 40px;}
	.cta__heading {text-align: center;}
	.cta__description {max-width: unset;}
	.cta__button {max-height: 134px;}

	.cta__footer-content {padding-inline: 40px;}
}

@media (max-width: 1030px) {
	.cta__wrapper {
		padding: 3vw;
		border-radius: 60px;
	}
}
@media (max-width: 960px) {
	.cta__nav {
		flex-grow: 1;
		justify-items: center;
	}
	.cta__nav-list {
		display: grid;
	    grid-template-columns: auto auto;
	}
}
@media (max-width: 900px) {
	.cta__wrapper {
		border-radius: 40px;
	}
}

@media (max-width: 668px) {
	.cta__footer {height: unset; border-radius: 60px;}
	.cta__footer-content {
		padding-block: 20px;
		flex-direction: column;
	}
	.cta__heading {
		align-self: center;
		font-size: 70px;
	}
	.cta__description {font-size: 36px;}
}
@media (max-width: 468px) {
	.cta__text-section {
        gap: 26px;
    }
	.cta__heading {
		font-size: 46px;
	}
	.cta__description {font-size: 26px;}
}
@media (max-width: 400px) {
	.cta__wrapper {border-radius: 30px;}
	.cta__footer {border-radius: 40px;}
	.cta__nav-list {
		grid-template-columns: auto;
	}
	.cta__footer-content {
        padding-inline: 20px;
    }
	.cta__button {
		max-height: 100px;
        max-width: unset;
		font-size: 22px;
	}
}
