.post-page {
}
.post-page__title {
	font-size: 38px;
	margin-bottom: 0.5em;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--content-primary);
}
.post-page__img-wrapper {
	margin: 2rem 0;
}
.post-page__img {
	width: 100%;
	border-radius: 20px;
}
.post-page__content {
}

.post-btns,
.post-btns-delete-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}