.nav {
	/* position: relative; */
	margin-top: 16px;
	margin-bottom: 43px;
	/* display: grid;
	grid-template-columns: 155px 1fr 1fr; */
	/* justify-content: space-between; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;

	padding-left: 62px;
	border-radius: 128px;
	/* width: 1800px; */
	height: 91px;

	background-color: var(--header-bg);
	overflow: hidden;
}


.nav__logo{ min-width: 135px; flex-shrink: 0;}

.nav__list {
	padding-right: 20px;
	max-width: 400px;
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 9px 20px;
}

.nav__item--active {
	position: relative;
	transition: all 0.3s ease-in;
}

.nav__item--active::before {
	content: '';
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);

	width: 5px;
	height: 5px;

	border-radius: 100%;
	background-color: var(--nav-active-dot);
}

.nav__link {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 18px;
	line-height: 133%;
	letter-spacing: -0.02em;

	text-wrap: nowrap;
	color: var(--text-color-alter);
}

/* .nav__link:hover {font-size: 1.2em;} */

.nav__btn {
	position: relative;
	/* margin-left: auto; */
	padding: 33px 43px 33px 24px;
	width: 174px;
	height: 100%;

	font-family: var(--font-family);
	font-weight: 700;
	font-size: 18px;
	line-height: 133%;
	text-wrap: nowrap;

	color: var(--button-contact-text);
	background-color: var(--button-contact-bg);
	outline: 2px solid var(--border);

	opacity: 1;
	transition: all 0.3s ease-in;
}

.nav__btn::before {
	content: '';
	position: absolute;
	top: 0;
	left: -13px;
	width: 13px;
	height: 100%;
	border-radius: 100px 0 0 100px;
	background-color: var(--button-decor);

	/* opacity: 0; */
	transition: all 0.3s ease-in;
}

.nav__btn:hover {
	/* opacity: 0.93; */
	background-color: var(--button-contact-hover);
	/* outline: 2px solid var(--border-active); */
}

@media (max-width: 870px) {
	.nav {
		padding-left: 30px;
	}
	.nav__list {
		padding-right: unset;
		flex-wrap: wrap;
		max-width: 210px;
		justify-content: space-evenly;
	}
}

@media (max-width: 640px) {
	.nav__list {display: none;}
	.nav__btn {
		/* max-width: 174px;
		width: 100%; */
	}
}

@media (max-width: 578px) {
	.nav__btn {
		max-width: 174px;
		width: 100%;
		padding-inline: 3px 15px;

		width: 32%;
		display: flex;
		align-items: center;
		justify-content: center;
		text-wrap: wrap;
		text-align: center;
	}
}
@media (max-width: 440px) {
	.nav {padding-inline: 20px;}
	.nav__btn {display: none;}
}
