.mobile-nav {
    position: fixed;
    top: 0;
    right: -100%;
    max-width: 320px;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 15px 30px;
    border-radius: 20px;
    background-color: var(--mobile-nav-bg);
    color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease-in;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
    font-size: 28px;
    align-items: center;
}

.mobile-nav .nav__logo {
    margin-bottom: 30px;
    margin-top: auto;
	text-align: center;
}

.mobile-nav-item {
    transition: transform 0.3s ease-in;
}

.mobile-nav-item:hover {
    color: #FFD479;
    transform: scale(1.1);
}

.mobile-nav-link {
    color: rgba(var(--text-color-rgb), 0.75) ;
}

.mobile-nav-link:hover {
    color: rgba(var(--text-color-rgb), 1) ;
}

/* =================  Mobile Fade  =====================  */
.mobile-nav-fade {
    position: fixed;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--mobile-nav-fade-bg);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    z-index: 14;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    pointer-events: none;
}

@media (max-width: 640px) {
    .mobile-nav.active {
        right: 0;
        opacity: 1;
    }

    .mobile-nav-fade.active {
        pointer-events: all;
        opacity: 1;
    }
}
